<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>Uid</th>
      <th>Username</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.uid %></td>
        <td><%= score.username %></td>
        <td><%= score.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
